.sc-isolated-node {

  position: relative;

  & > .se-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }


  &.sm-focused {

    outline: 2px dashed;
    outline-color: $local-selection-color;

    & > .se-overlay {
      display: none;
    }
  }

  &.sm-selected {

    outline: 2px solid;
    outline-color: $local-selection-color;

    & > .se-overlay {
      // local selection color
      background-color: $local-selection-color;
      opacity: 0.3;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
    }

  }
}
