.sc-isolated-node {

  position: relative;

  > .se-isolated-node-boundary {
    display: block;
    opacity: 0;
/*
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
*/
  }

  &.sm-focused {
    > .se-container {
      outline: 2px dashed;
      outline-color: $local-selection-color;
    }
  }

  &.sm-selected {
    > .se-container {
      outline: 2px solid;
      outline-color: $local-selection-color;
      background: rgba(163,205,253, 0.6);
    }
  }

}
