.sc-isolated-node {

  position: relative;

  > .se-isolated-node-boundary {
    display: block;
    opacity: 0;
/*
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
*/
  }

  &.sm-selected {
    > .se-container {
      background: rgba(163,205,253, 0.6);
    }
  }

  &.sm-focused {
    > .se-container {
      // background: rgba(163,205,253, 0.6);
      outline: 2px solid;
      outline-color: $local-selection-color;
    }
  }

}

.sc-isolated-node.sm-focused ::selection {
  background: none;
}

.sc-isolated-node.sm-focused ::-moz-selection {
  background: none;
}

.sc-isolated-node.sm-focused > .se-container ::selection {
  background: initial;
}

.sc-isolated-node.sm-focused > .se-container ::-moz-selection {
  background: initial;
}
