.sc-nested-surface {

  position: relative;

  & > .se-nested-editor-boundary {
    display: block;
    opacity: 0;
/*    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
*/
  }

  &.sm-focused {

    & > .se-container {
      outline: 2px dashed;
      outline-color: $local-selection-color;
    }
  }

  &.sm-selected {

    & > .se-container {
      outline: 2px solid;
      outline-color: $local-selection-color;
      background: rgba(163,205,253, 0.6);
    }

    &.sm-collaborator-1 { outline-color: $collaborator-color-1; }
    &.sm-collaborator-2 { outline-color: $collaborator-color-2; }
    &.sm-collaborator-3 { outline-color: $collaborator-color-3; }
    &.sm-collaborator-4 { outline-color: $collaborator-color-4; }
    &.sm-collaborator-5 { outline-color: $collaborator-color-5; }
  }
}
